// colors
$color-white: #ffffff;
$color-grey: #dddddd;
$color-dark: #bababa;
$color-black: #333333;

$color-primary: #3742fa;

$color-warning: #ffa502;
$color-danger: #ff4757;
$color-success: #2ed573;
$color-info: #71c9ff;

// sizes
$radius: 4px;
$size-sm: 14px;
$size-md: 16px;
$size-lg: 26px;

.container-alert {
  .alert {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.alert {
  width: 100%;
  padding: 15px;
  position: relative;
  border-left: 8px solid $color-dark;
  background: lighten($color-dark, 20);
  color: darken($color-dark, 10);
  border-radius: $radius;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 16px;

  .alert--close,
  .alert--icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    &_absolute {
      position: absolute;
      top: 10px;
      right: 10px;
      align-items: flex-start;
      height: auto;
    }
  }

  .alert--icon {
    margin-right: 10px;
  }

  .alert--close {
    margin-left: 10px;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .alert--content {
    width: 100%;
    line-height: 1.5;
  }

  .alert--buttons {
    width: 100%;
    margin-top: 10px;
  }
}

// sizes
.alert {
  &_sm {
    padding: 10px;
    font-size: $size-sm;

    .alert--close,
    .alert--icon {
      font-size: $size-md;
    }
  }

  &_lg {
    font-size: $size-lg;

    .alert--close,
    .alert--icon {
      font-size: $size-lg;
    }
  }
}

// colors
.alert {
  .hr {
    height: 1px;
    width: 100%;
    border: none;
    background: #ddd;
    margin: 10px 0;
  }

  &_success {
    border-color: $color-success;
    background: lighten($color-success, 35);
    color: darken($color-success, 10);

    .hr {
      background: darken($color-success, 10);
    }
  }

  &_danger {
    border-color: $color-danger;
    background: lighten($color-danger, 30);
    color: $color-danger;

    .hr {
      background: $color-danger;
    }
  }

  &_warning {
    border-color: $color-warning;
    background: lighten($color-warning, 30);
    color: darken($color-warning, 10);

    .hr {
      background: darken($color-warning, 10);
    }
  }

  &_info {
    border-color: $color-info;
    background: lighten($color-info, 20);
    color: darken($color-info, 10);

    .hr {
      background: darken($color-info, 10);
    }
  }

  &_dark {
    border-color: $color-black;
    background: lighten($color-black, 10);
    color: lighten($color-black, 60);

    .hr {
      background: darken($color-black, 10);
    }
  }
}

// hide 
.alert {
  transition: 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
  height: auto;
  overflow: hidden;

  @keyframes showAlert {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
    }
  }

  // @keyframes hideAlert {
  //   from {}
  // 
  //   to {
  //     transform: translateY(20px);
  //     visibility: hidden;
  //     height: 0;
  //     margin: 0;
  //     padding: 0;
  //     opacity: 0;
  //   }
  // }

  animation-name: showAlert;
  animation-duration: 0.3s;
  animation-fill-mode: both;

  &.alert_none {
    // animation-name: hideAlert;
    // animation-duration: 0.3s;
    // animation-fill-mode: both;
    display: none;
  }
}

// alerts absoluts
.fixed-alerts {
  box-sizing: border-box;
  position: fixed;
  z-index: 9999999;
  width: 100%;
  max-width: 400px;

  &_bottom {
    bottom: 10px;
  }

  &_top {
    top: 10px;
  }

  &_right {
    right: 10px;
  }

  &_left {
    left: 10px;
  }

  .alert {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
