:root {
  // default colors
  --color-default: #ddd;
  --color-white: #fff;
  --color-black: #2f3542; // flat colors
  --color-primary: #3742fa;
  --color-secundary: #2f3542; // status colors
  --color-warning: #ffa502;
  --color-danger: #ff4757;
  --color-success: #2ed573;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  color: var(--color-black);
  font-size: 16px;
}

body {
  margin: 0;
}

pre {
  padding: 5px;
  box-sizing: border-box;
}

a {
  color: var(--color-black);
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: var(--color-primary);
}

.size {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.content {
  padding: 20px 0;
  box-sizing: border-box;
  color: #000;
  margin-bottom: 100px;
  width: 100%;
  overflow: hidden;
}

.content.content-header {
  min-height: 50vh;
  margin-bottom: 30px;
  background: #000;
  margin-bottom: 100px;
  color: #fff;
  position: relative;
}

.content.content-header h1 {
  font-size: 4rem;
  color: var(--color-white);
}

.content.content-header p {
  margin-bottom: 10px;
  margin-left: 5px;
  color: #BBB;
}

.box-title {
  margin-bottom: 10px;
  margin-left: 2px;
}

.footer {
  padding: 100px 0;
  box-sizing: border-box;
  font-size: 18px;
  background: #000;
  color: #fff;
}

.footer ul {
  list-style: none;
  margin-bottom: 30px;
}

.footer ul li {
  margin: 20px;
  flex-grow: 1;
  flex-basis: 150px;
}

.footer a {
  color: var(--color-primary);
}

.footer a:hover {
  color: #fff;
}

.example {
  position: relative;
  width: 100%;
}

.example-button {}

.type {
  opacity: .5;
  font-size: 14px;
  text-transform: uppercase;
}

.example .btn-example {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px !important;
  opacity: 0;
}

.example:hover .btn-example {
  opacity: 1;
}

.dropdown {
  margin: 5px;
}

.badge {
  margin: 2px;
}

.relative {
  position: relative;
}

.hidden {
  position: hidden;
}

.sidebar {
  padding: 20px 0;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  padding: 10px;
  color: #000;
  font-weight: 800;
}

.sidebar ul li.active a,
.sidebar ul li a:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
  .content.content-header h1 {
    font-size: 3rem;
  }
}

.full-width {
  width: 100%;
}

.padding-5 {
  padding: 5px;
}

.btn {
  margin: 0;
}

.btn-margin {
  margin-bottom: 10px;
}

header .content .btn {
  margin: 5px;
}

.container-alert .btn {
  margin: 5px;
}


ul li {
  margin-top: 10px;
}

.alert_info a:hover {
  color: #3eb6ff
}